@tailwind base;
@tailwind components;
@tailwind utilities;


.pathx {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 5s linear forwards infinite;
  }
  
  @keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  }


  .sp1 {
    animation : float 7s ease-in infinite ;
  }
  .sp2 {
    animation : float 5s ease-in infinite ;
  }
  .sp3 {
    animation : float 6s ease-in infinite ;
  }

   
  @keyframes float {
    0% {
		transform: translatey(0px);
    }
    50% {
		transform: translatey(-20px);
    }
    100% {
		transform: translatey(0px);
    }
  }

  